<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Прегледи по лекар</title>
</head>
<body>

<nav th:replace="~{fragments :: navbar}"></nav>

<h1>Прегледи по лекар</h1>
<table>
    <thead>
    <tr>
        <th>Дата</th>
        <th>Пациент</th>
        <th>Диагноза</th>
        <th>Лечение</th>
        <th>Цена</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="appointment : ${appointments}">
        <td th:text="${appointment.date}"></td>
        <td th:text="${appointment.patient.firstName + ' ' + appointment.patient.lastName}"></td>
        <td th:text="${appointment.diagnosis.name}"></td>
        <td th:text="${appointment.treatment}"></td>
        <td th:text="${appointment.price}"></td>
    </tr>
    </tbody>
</table>
<a th:href="@{/statistics}">Назад</a>

</body>
</html>