<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Appointments by Doctor</title>
</head>
<body>

<nav th:replace="~{fragments :: navbar}"></nav>

<h1>Appointments by Doctor</h1>
<table>
    <thead>
    <tr>
        <th>Date</th>
        <th>Patient</th>
        <th>Diagnosis</th>
        <th>Treatment</th>
        <th>Price</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="appointment : ${appointments}">
        <td th:text="${appointment.date}"></td>
        <td th:text="${appointment.patient.firstName + ' ' + appointment.patient.lastName}"></td>
        <td th:text="${appointment.diagnosis.name}"></td>
        <td th:text="${appointment.treatment}"></td>
        <td th:text="${appointment.price}"></td>
    </tr>
    </tbody>
</table>
<a th:href="@{/statistics}">Back</a>

</body>
</html>