<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Doctors with Most Sick Leaves</title>
</head>
<body>

<nav th:replace="~{fragments :: navbar}"></nav>

<h1>Doctors with Most Sick Leaves</h1>
<table>
    <thead>
    <tr>
        <th>Doctor</th>
        <th>Specialty</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="doctor : ${doctors}">
        <td th:text="${doctor.firstName + ' ' + doctor.lastName}"></td>
        <td th:text="${doctor.specialty}"></td>
    </tr>
    </tbody>
</table>
<a th:href="@{/statistics}">Back</a>

</body>
</html>