<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Patients by Diagnosis</title>
</head>
<body>

<nav th:replace="~{fragments :: navbar}"></nav>

<h1>Patients by Diagnosis</h1>
<table>
    <thead>
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>EGN</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="patient : ${patients}">
        <td th:text="${patient.firstName}"></td>
        <td th:text="${patient.lastName}"></td>
        <td th:text="${patient.egn}"></td>
    </tr>
    </tbody>
</table>
<a th:href="@{/statistics}">Back</a>

</body>
</html>