<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Amount by Doctor</title>
</head>
<body>

<nav th:replace="~{fragments :: navbar}"></nav>

<h1>Amount by Doctor for Uninsured Patients</h1>
<table>
    <thead>
    <tr>
        <th>Doctor</th>
        <th>Total</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="entry : ${data}">
        <td th:text="${entry.key.firstName + ' ' + entry.key.lastName}"></td>
        <td th:text="${entry.value}"></td>
    </tr>
    </tbody>
</table>
<a th:href="@{/statistics}">Back</a>

</body>
</html>