<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit Patient</title>
</head>
<body>

<nav th:replace="~{fragments :: navbar}"></nav>

<h1>Edit Patient</h1>

<form th:action="@{/patients/edit/{id}(id=${patient.id})}" th:object="${patient}" method="post">
    <div>
        <label>EGN:</label>
        <input type="text" th:field="*{egn}"/>
    </div>
    <div>
        <label>First Name:</label>
        <input type="text" th:field="*{firstName}"/>
    </div>
    <div>
        <label>Last Name:</label>
        <input type="text" th:field="*{lastName}"/>
    </div>
    <button type="submit">Save</button>
    <a th:href="@{/patients}">Back</a>
</form>

</body>
</html>