<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add Diagnosis</title>
</head>
<body>

<nav th:replace="~{fragments :: navbar}"></nav>

<h1>Add Diagnosis</h1>

<form th:action="@{/diagnoses/create}" th:object="${diagnosis}" method="post">
    <div>
        <label>Name:</label>
        <input type="text" th:field="*{name}"/>
    </div>
    <div>
        <label>Description:</label>
        <input type="text" th:field="*{description}"/>
    </div>
    <button type="submit">Save</button>
    <a th:href="@{/diagnoses}">Back</a>
</form>

</body>
</html>