<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Редактирай диагноза</title>
</head>
<body>

<nav th:replace="~{fragments :: navbar}"></nav>

<h1>Редактирай диагноза</h1>

<form th:action="@{/diagnoses/edit/{id}(id=${diagnosis.id})}" th:object="${diagnosis}" method="post">
    <div>
        <label>Име:</label>
        <input type="text" th:field="*{name}"/>
    </div>
    <div>
        <label>Описание:</label>
        <input type="text" th:field="*{description}"/>
    </div>
    <button type="submit">Запази</button>
    <a th:href="@{/diagnoses}">Назад</a>
</form>

</body>
</html>